# Notebook of R programming for bioinformatics

三个对初学者有用的函数：

help()

example()

get()

违法的变量名用引号括起来

In [12]:
`_foo` = 10
"10:10" = 20
ls()

[1] "_foo"  "10:10"

除了NULL，其他所有的R变量都有属性。属性可以存储、修改。`attributes`可以获取属性，`attr`函数可以获取和修改属性。

R用属性做很多事情，特别是S3类基本上是基于属性的。

In [15]:
x = 1:10
attr(x, "foo") = 11
x

 [1]  1  2  3  4  5  6  7  8  9 10
attr(,"foo")
[1] 11

In [21]:
attr(x, "foo")

[1] 11

In [22]:
attributes(x)

$foo
[1] 11

In [24]:
attributes(x)$foo

[1] 11

### OOP in R

面向对象有两个成分：
- 一个是定义不同对象的类
- 二是带方法的通用函数

R中有两个OOP系统：S3，S4
- S3主要支持各类通用函数
- S4既支持类，同时也支持通用函数

S3系统非常松散，可以很轻易地给R对象附加类属性，没有检查机制。

通用函数其实就是一个分配机制，S3中，分配通过连接通用函数名与其对应的类。

In [25]:
# an example of a generic function is mean
mean

function (x, ...)
UseMethod("mean")
<bytecode: 0x2478690>
<environment: namespace:base>

可以看到，mean其实调用了UseMethod去寻找合适的方法。

In [28]:
methods("mean")

[1] mean.Date     mean.default  mean.difftime mean.POSIXct  mean.POSIXlt
see '?methods' for accessing help and source code

可以看到这些方法都以mean开头。当调用`mean`函数时，R寻找第一个参数看它是否有类属性，如果有，R寻找以`mean.`开头接类名的函数。如果存在，调用该方法。如果不存在，`mean.default`被调用。

### Some special values

In [2]:
length(NULL)

c(1, NULL)

list("a", NULL)

[1] 0

[1] 1

[[1]]
[1] "a"

[[2]]
NULL

In [3]:
# 缺失值NA
# is.na()函数可以识别

typeof(NA)

[1] "logical"

In [4]:
as.character(NA)

[1] NA

In [5]:
as.integer(NA)

[1] NA

In [6]:
typeof(as.integer(NA))

[1] "integer"

R中无穷大和不是数值都有表征。

In [8]:
y = 1/0
y

[1] Inf

In [9]:
-y

[1] -Inf

In [10]:
y - y

[1] NaN

### Types of objects

R一个重要的数据结构是向量，向量是有序的向量集，所有的元素是相同的类型。

R有6中基本的向量类型：逻辑型，整型，实数，复数，字符串，raw。

三个检索变量类型函数，mode,storage.mode,typeof。

In [11]:
typeof(y)

[1] "double"

In [12]:
typeof(is.na)

[1] "builtin"

In [13]:
typeof(mean)

[1] "closure"

In [14]:
mode(NA)

[1] "logical"

In [15]:
storage.mode(letters)

[1] "character"

In [16]:
is.integer(y)

[1] FALSE

In [17]:
is.character(y)

[1] FALSE

In [18]:
is.double(y)

[1] TRUE

In [19]:
is.numeric(y)

[1] TRUE

### 生成序列和取子集

In [20]:
1:3

[1] 1 2 3

In [21]:
1.3:3.2

[1] 1.3 2.3

In [22]:
6:3

[1] 6 5 4 3

In [23]:
x = 11 : 20

In [24]:
x[4:5]

[1] 14 15

In [25]:
storage.mode(1:3)
storage.mode(1.3:4.2)

[1] "integer"

[1] "double"

### 函数的类型

三类：builtins, specials and closures

用户只能创建closures，其他的两类函数是将计算传递到下游线程（典型为C语言）的接口，两者的差别是是否评估输入参数。

### 数据结构

原子向量是绝大多数数据结构的基础。一个原子向量包括0或多个相同类型的整型，double型，逻辑型或字符串(只能四种类型之一)。复数或raw（纯字节）都有原子类型表征。

S语言中的字符向量是字符串的向量，不是字符向量。比如"super"是一个长度为1的字符向量，而不是长度为5。通过对原子向量添加`dim`属性可以创建多维数组或者矩阵。

In [26]:
x = c(1, 2, 3, 4)

In [27]:
x

[1] 1 2 3 4

In [28]:
dim(x) = c(2, 2)

In [29]:
x

     [,1] [,2]
[1,] 1    3
[2,] 2    4

In [30]:
typeof(x)

[1] "double"

In [31]:
y = letters[1:10]

In [32]:
y

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

In [33]:
dim(y) = c(2, 5)

In [34]:
y

     [,1] [,2] [,3] [,4] [,5]
[1,] a    c    e    g    i
[2,] b    d    f    h    j

In [35]:
typeof(y)

[1] "character"

In [36]:
# logic value is either TRUE FALSE NA

向量的元素可以有名字，矩阵和数组也可以为每一维命名。如果给一个已命名的向量添加`dim`属性，名字会被丢弃，其他属性保留。

创建向量的函数有：
```
c()
numeric()
double()
character()
integer()
logical()
```

`seq()`函数可以创建符合模式序列

`seq_len`生成从1到参数的序列

`seq_along`返回一个相同长度的整数序列

一些生成随机向量的函数：

像`rnorm`,`runif`

`sample`函数可以用来采样。

In [39]:
c(1, 3:5)

[1] 1 3 4 5

In [40]:
c(1, "c")

[1] "1" "c"

In [41]:
numeric(2)

[1] 0 0

In [42]:
character(2)

[1] "" ""

In [43]:
seq(1,10, by = 2)

[1] 1 3 5 7 9

In [44]:
seq_len(2.2)

[1] 1 2

In [46]:
seq_along(numeric(3))

[1] 1 2 3

In [47]:
sample(1:100, 5)

[1] 72 75 28 19 42