# 向量化计算

By vectorized computations we mean any computation, by the application
of a function call, or an operator (such as addition), that when applied to
a vector automatically operates directly on all elements of the vector.

In [1]:
# 例如给一个简单向量所有元素加3
x = 11:15
x + 3

[1] 14 15 16 17 18

在R中，很多循环计算都没必要用`for`循环。一方面很多的R函数和R操作符都是向量化的，计算速度快；另一方面for循环不是向量化的，操作相对复杂，在R中计算速度非常慢。

In [2]:
# 函数举例
month.name

 [1] "January"   "February"  "March"     "April"     "May"       "June"
 [7] "July"      "August"    "September" "October"   "November"  "December"

In [3]:
nchar(month.name) # 向量化的函数对向量每一个元素进行相同的计算

 [1] 7 8 5 5 3 4 4 6 9 7 8 8

## The recycling rule

当两个长度不相同的向量通过操作符或函数进行相关计算时，短的向量会进行循环补齐以保证两个向量长度相同。这就需要两者的长度需要是整数倍差异，否则报错或出警告。

In [4]:
1:10 + 1:3

Warning message in 1:10 + 1:3:
“长的对象长度不是短的对象长度的整倍数”

 [1]  2  4  6  5  7  9  8 10 12 11

当二元操作符（例如+）应用到两个或更多矩阵或数组上时，它们必须适配（有相同的维度）。

任何参与向量计算的数组或向量含有0长度，返回的结果也必然是0长度。

In [13]:
1:3 + numeric()
1:3 + NULL

numeric(0)

numeric(0)

In [9]:
# eg
sum(1:3 + numeric())

[1] 0

In [14]:
sum(1:3)

[1] 6

In [10]:
sum(1:3 + NULL)

[1] 0

In [15]:
sum(1:3 + 1)

[1] 9

In [11]:
sum(1 + NULL)

[1] 0

In [12]:
sum(1 + numeric())

[1] 0

可以看到单个数值其实也是被当做向量对待的。

In [16]:
x = matrix(1:10, nc = 2)
x + (1:2)

     [,1] [,2]
[1,] 2     8
[2,] 4     8
[3,] 4    10
[4,] 6    10
[5,] 6    12

# Replacement functions

把变量存储看做酒店房间，替换就像房间号没换，里面的客人换了。

In [18]:
# 比如有个一维数组x,我把第二个改成10
x = 1:4
x[2] = 10
x

[1]  1 10  3  4

In [19]:
# x[2]=10替换的实质是
x = 1:4
x = `[<-`(x,2,value = 10)
x

[1]  1 10  3  4

In [20]:
# 命名的例子
names(x) = letters[1:4]
names(x)

[1] "a" "b" "c" "d"

In [22]:
x = "names<-"(x, LETTERS[1:4])
x

 A  B  C  D
 1 10  3  4

如果你想写一个替换函数

To write a replacement function, you must make sure that the last two
characters of the name are `<-`, and usually that means you will need to enclose
the name in **double quotes** to prevent the evaluator from attempting to carry
out an explicit assignment. You must also make sure that the return value is
the modified copy of the object you wanted to modify. R will automatically
rewrite the code to carry out an assignment, so the return value must be
appropriate for that operation. If it is not, no error will be signaled but the
result will probably not be useful.

The last argument to a replacement function must be named `value` and it
will be matched to the value of the right-hand side of the assignment.